body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(176, 127, 255);
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* DScchools CSS */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/*@import "styles-rtl.css"*/
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";

@media print {
  a {
    text-decoration: none;
  }
}

.print-right {
  direction: rtl;
  text-align: right;
}
.print-left {
  direction: ltr;
  text-align: left;
}
/* .save-btn {
  background-color: #55ce63;
  border: 1px solid #55ce63;
} */

.div-nav-custom {
  text-align: center;
  /* outline-style: double; */
  margin-right: 5px;
  margin-top: 10px;
  font-size: 13px;
  padding-left: 7px;
  padding-right: 7px;
  color: #fff;
  font-weight: 700;
  /* position: absolute; */
  right: 3px;
  top: 6px;
  background-color: #fd8572;
  border-radius: 17px;
}
.datetime {
  background-color: #7460ee;
}
.SchoolYear {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #ff905f;
}

.cal-icon.rigth:after {
  left: 0px;
  right: 15px;
}

.cal-icon.left:after {
  left: 0px;
  right: 87%;
}
/* @media (min-width: 576px) { */
/* .col-sm-6 {
  } */
/* } */
.menu-cl {
  overflow: scroll !important;
}
.loader-container {
  position: fixed;
  width: 100%;
  z-index: 0;
}

#loader {
  background-position: center center;
  background-repeat: no-repeat;
  height: 0px;
  left: 50%;
  margin: -50px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.avatar {
  background-color: white !important;
}
.profile-img:hover {
  opacity: 0.8;
}

.page-wrapper {
  /* padding-top: 60px;*/
  min-height: 760px !important ;
  /* padding-top: 38px; */
}

.form-focus {
  height: auto;
}
.ng-select .ng-select-container {
  color: #676767;
}
input.ng-touched.ng-invalid {
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffcdd2;
}

input.ng-touched.ng-valid {
  border-color: #28a745;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b2dfdb;
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #dc3545 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffcdd2;
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #28a745 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b2dfdb;
}
/* .form-control:focus {
	box-shadow: none;
	outline: 0 none;
} */
.form-focus .form-control {
  height: 45px;
}
/* .add-btn{
  background: linear-gradient(
    45deg
    , #21e5da, #1ee72e);
    border: none;
} */
.ng-select.ng-select-single .ng-select-container {
  height: 45px !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value,
.ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  padding-top: 6px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: white !important;
  background-color: #ff9b44 !important;
}
.form-control .form-control-sm {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  box-shadow: unset;
  display: block;
  min-height: 44px;
  padding: 6px 6px 0;
}
.form-control {
  height: 38px;
  font-size: 15px;
}

.submit-btn {
  min-width: 0px;
  padding: 5px 10px;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 662px;
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px;
  }
}
/* layout */

/* DataTable Search Filter */
@media only screen and (min-width: 480px) {
  div.table-responsive
    > div.dataTables_wrapper
    > div.row
    > div[class^="col-"]:last-child,
  div.table-responsive
    > div.dataTables_wrapper
    > div.row
    > div[class^="col-"]:first-child {
    width: auto;
  }

  .page-wrapper {
    /* padding-top: 60px;*/
    /* min-height: 725px !important ; */
    padding-top: 38px;
  }
}
/*End  DataTable Search Filter */

@media only screen and (max-width: 575.98px) {
}

@media only screen and (max-width: 991.98px) {
  .header .header-left {
    position: absolute;
    /* width: 65%; */
    width: 65%;
    /* width: 300px; */
  }
}

/*DSchools Custom @media*/
@media only screen and (max-width: 1050.98px) {
  #date,
  #show_study_year {
    display: none;
  }
  .div-nav-custom {
    margin-top: 5px !important;
  }
  #min_study_year {
    display: inline !important;
  }
  #time {
    margin-top: auto;
  }
  .logo {
    margin-left: 15% !important;
  }
}

/*login logo*/
@media only screen and (max-width: 1400px) {
  .login-logo {
    margin-left: 26% !important;
  }
}
@media only screen and (max-width: 1250px) {
  .login-logo {
    margin-left: 29% !important;
  }
}

@media only screen and (max-width: 1095px) {
  .login-logo {
    margin-left: 30% !important;
  }
}

@media only screen and (max-width: 1045px) {
  .login-logo {
    margin-left: 21% !important;
  }
}

@media only screen and (max-width: 770px) {
  .login-logo {
    margin-left: 21% !important;
  }
}
@media only screen and (max-width: 700px) {
  .login-logo {
    margin-left: 25% !important;
  }
}
@media only screen and (max-width: 575px) {
  .login-logo {
    margin-left: 0% !important;
  }
}
/*login-logo*/

@media only screen and (max-width: 770px) {
  .logo {
    margin-left: -12% !important;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    margin-left: 44% !important;
  }
}
@media only screen and (max-width: 576px) and (min-width: 463px) {
  .modal-info {
    width: 77%;
  }
  .modal-av {
    width: 23%;
  }
}

.slimScrollBar {
  right: 1px !important;
  left: auto !important;
  height: 250px !important;
}

.sidebar-menu li a > .badge {
  float: right;
}
.dropdown-item > img {
  margin-right: 5px;
  margin-left: 0;
}
